<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.accurascan.mrz.liveness.fm">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature
        android:name="android.hardware.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>


        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr,face,barcode" />

        <activity android:name=".AccuraKycFlutterPlugin" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr,face,barcode" />

        <activity
            android:name="com.accurascan.facedetection.SelfieCameraActivity"
            android:exported="true"
            android:screenOrientation="locked"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".CameraActivity"
            android:screenOrientation="locked" />

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    

</manifest>